.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 aside {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10vw;
  background-color: #282c34;
  transform: translateX(100%);
  transition: 0.15s ease transform;
  color: aliceblue;
 }

 aside.visible{
  transform: translateX(0);
 }

 .custom-button {
  position: relative;
  display: inline-block;
  transition: border-color 0.5s, box-shadow 0.5s, color 0.5s, transform 0.65s;
  text-shadow: none; /* Remove text shadow by default */
}

.custom-button:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 120, 120, 0.3);
  z-index: -1;
  transition: opacity 0.65s ease;
  opacity: 0;
  border-radius: 5px;
  pointer-events: none; /* Prevents the pseudo-element from being clickable */
}

.custom-button:hover {
  color: brown;
  transform: scale(1.2);
  z-index: 999999;
}